/* Main Architecture */
body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
}
#app{
    display: flex;
    height: 100%;
    background: radial-gradient(ellipse at 30.15% -16.5%, #7499ff, transparent 63%, transparent 100%),
                radial-gradient(ellipse at -10% 90%, #8b66e2 25%, transparent 90%, transparent 100%),
                radial-gradient(ellipse at 79.90% 110%, #6da7ff 2%, transparent 20%, transparent 100%),
                radial-gradient(ellipse at 90% -5%, #1051c9 35%, transparent 90%, transparent 100%);
}
nav{
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
}
.navbar-nav{
    flex-direction: column!important;
    width: 252px;
}
#navBar{
    overflow-y: auto;
    overflow-x: hidden;
}
.navbar-nav > button{
    text-transform: uppercase;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 0;
    padding: 8px 24px;
}
.navbar-nav > button:hover{
    background: #8798F7;
}
.navbar-nav > button.show+ul{
    display: block;
}
.navbar-nav > ul{
    display: none;
    list-style-type: none;
}
.list-nav{
    transition: all ease-in-out 0.2s;
    background: none;
    padding: 8px 32px;
    display: flex;
    align-items: center;
}
.list-nav:hover{
    transition: all ease-in-out 0.2s;
    background: #8798F7;
    cursor: pointer;
}
.list-nav.active{
    background: #8798F7;
}
.navbar-nav li:not(:last-child){
    margin-bottom: 4px;
}   
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 20px 40px;
}
/* Utils */
.flGrow{
    display: flex;
    flex-grow: 1;
}
/* Texte */
.title-big{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.25);
}
.title-large{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 54px;
}
.title{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 40px;
}
.subtitle{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 36px;
}
.text-big{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 32px;
}
.text-large{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.text-semi-large{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.subtext{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
/* --- Page --- */
/* - Accueil - */
#btn-accueil{
    border: 2px solid white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 11px 37px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
/* Statistic bubble */
.lbl-stat{
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 36px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.lbl-stat > span{
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
    display: block;
    color: rgba(255, 255, 255, 0.6);
}
/* Statistic bar */
.bar-stat{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}
.bar-stat > span{
    margin-left: 8px;
    margin-right: 8px;
    width: 52px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px 5px 0px 0px;
}
/* Titles */
.raisons-title{
    margin-top: -54px;
    margin-left: 105px;
}
.journee-title{
    padding: 8px 28px!important; 
    text-transform: uppercase;
}
/* List puce */
.green-list-puce{
    list-style-image: url("./emojis/liste-puce-green.svg");
    padding-right: 40px;
}
.green-list-puce > li{
    margin-bottom: 8px;
    padding-left: 16px;
}
.red-list-puce{
    list-style-image: url("./emojis/liste-puce-red.svg");
    padding-right: 40px;
}
.red-list-puce > li{
    margin-bottom: 8px;
    padding-left: 16px;
}
.check-list-puce{
    list-style-type: none;
    /*list-style-image: url("./emojis/liste-puce-check.svg");*/
    padding-right: 40px;
}
.check-list-puce > li:not(:last-child){
    margin-bottom: 16px;
}
.check-list-puce > li > span:not(:last-child){
    font-weight: 700;
}
.check-list-puce > li > span{
    font-weight: 500;
}
/* Background */
.bg-white-fullr{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    padding: 20px 24px;
}
.bg-white-leftr{
    background: rgba(255, 255, 255, 0.25);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 28px 32px;
}
/* Custome border */
.border-dashed-comparatif{
    border-right: 3px dashed #FFFFFF;
    border-bottom: none;
}
/* Icon on text */
.icon-star{
    display: table;
}
.icon-star::before{
    content: url('./emojis/star.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-sun{
    display: table;
}
.icon-sun::before{
    content: url('./emojis/sun.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-confetti{
    display: table;
}
.icon-confetti::before{
    content: url('./emojis/confetti.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-moon{
    display: table;
}
.icon-moon::before{
    content: url('./emojis/moon.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-sandwich{
    display: table;
}
.icon-sandwich::before{
    content: url('./emojis/sandwich.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-wand{
    display: table;
    position: relative;
}
.icon-wand::before{
    content: url('./emojis/wand.svg');
    width: 36px;
    height: 36px;
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -8px;
}
.icon-plane{
    display: table;
}
.icon-plane::before{
    content: url('./emojis/plane.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-exclamation{
    display: table;
}
.icon-exclamation::before{
    content: url('./emojis/exclamation.svg');
    padding-right: 16px;
    display: table-cell;
    vertical-align: middle;
}
.icon-quote{
    position: relative;
}
.icon-quote::before{
    content: ',,';
    font-family: 'Abril Fatface', cursive;
    font-size: 140px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    transform: rotate(180deg);
    position: absolute;
    bottom: calc(0px - 110%);
    left: -20px;
}
.icon-quote::after{
    content: ',,';
    font-family: 'Abril Fatface', cursive;
    font-size: 140px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: calc(0px - 110%);
    right: -20px;
}
.icon-quote2{
    position: relative;
}
.icon-quote2::before{
    content: ',,';
    font-family: 'Abril Fatface', cursive;
    font-size: 140px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    transform: rotate(180deg);
    position: absolute;
    top: -50px;
    left: -20px;
}
.icon-quote2::after{
    content: ',,';
    font-family: 'Abril Fatface', cursive;
    font-size: 140px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: -50px;
    right: 70px;
}
/* Custom style img */
#img-raisons-argent{
    position: absolute;
    height: 130%;
    width: auto;
    right: 80px;
    top: -20%;
}
.brand-img{
    border-radius: 18%;
    box-shadow: 0px 4px 45px 8px rgba(255, 255, 255, 0.25);
}
/* Cards */
.raisons-level{
    display: flex;
    padding: 16px 24px;
}
.raisons-level h4{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px; 
    white-space: nowrap; 
    line-height: 42px;
}
.raisons-level > div > p{
    font-weight: 700;
}
#card-nomade{
    display: flex;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 32px 24px;
}
#card-nomade img{
    width: 180px;
}

/* --- Responsive --- */
@media (max-width: 992px) {
    section{
        padding: 16px 40px;
    }
    .border-dashed-comparatif{
        border-bottom: 3px dashed #FFFFFF;
        border-right: none;
    }
}