body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#app{
    display: flex;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: column;
}
main{
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}